<!DOCTYPE html>
<html>
<head>
    <title>Image Capture Form</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.26/webcam.min.js"></script>
</head>
<body>
    <h1>Image Capture Form</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div id="camera"></div>
        <button type="button" onclick="captureImage()">Capture</button>
        <br>
        <img id="preview" src="" alt="Preview" width="640" height="480">
        <input type="hidden" id="image_data" name="image_data" value="">
        <button type="submit">Submit</button>
    </form>

    <script>
        Webcam.set({
            width: 640,
            height: 480,
            image_format: 'jpeg',
            jpeg_quality: 90
        });

        Webcam.attach('#camera');

        function captureImage() {
            Webcam.snap(function (data_uri) {
                document.getElementById('preview').src = data_uri;
                document.getElementById('image_data').value = data_uri;
            });
        }
    </script>
</body>
</html>
