<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

#uploadSection {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  font-weight: bold;
  margin-bottom: 5px;
}

form input[type="file"] {
  margin-bottom: 10px;
}

form button {
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background-color: #45a049;
}

  </style>
</head>
<body>
  <div id="uploadSection">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_table }}
        <button type="submit"> Upload Image </button>
    </form>
  </div>
</body>
</html>
