<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Demo Gallery</title>
    <style>
      body {
        background-color: #f2f2f2;
        padding-top: 5%;
      }

      .thumbnail {
        background-color: #fff;
        padding: 15px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }

      .thumbnail img {
        width: 100%;
        height: auto;
      }

      .thumbnail p {
        margin-top: 10px;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        {% for result in results %}
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="{{ result.orig_image.photo.url }}">
              <img src="{{ result.orig_image.photo.url }}" alt="Lights">
              <div class="caption">
                <p>Source: {{ result.orig_image.title }}</p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="{{ result.emoji.photo.url }}">
              <img src="{{ result.emoji.photo.url }}" alt="Lights">
              <div class="caption">
                <p>Found emotion: {{ result.emotion }}</p>
              </div>
            </a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-xnMwUvog+1+7AHMg1BQ+CY6z2DxSiC1T1M6j3LQ5j35LDDPSLQbywuymwB+Ehsa" crossorigin="anonymous"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-cOigSggsrBCPq2oD95LjXYazRQb3z69ocuJfQP7gg0H9YGtDkJM4gmyurJeF+BT5" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-pzj09R8n/Uz1x+LhztnGB3DlG2Gb1riB7pC92W+kVhtdsd3tW9F+oaHRotIWa8nP" crossorigin="anonymous"></script>
    -->
  </body>
</html>
